.locations-container {
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 95vw;
    justify-content: space-around;
}

.locations-card {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 5px;
    align-items: center;
    padding: var(--spacing-2-8) var(--spacing-2-8) 0;
    margin: var(--spacing-1-2);
    gap: var(--spacing-1);
    /* background-image: url(../../../multimedia/cardsEpisodes.png); */
    /* la imagen depende de la paleta, esa sirve de ejemplo */
    background-color: #e89ac7;
    background-size: contain;
    width: 350px;
    height: 300px;
    justify-content: space-between;
}

.locations-card>img {
    position: absolute;
}

.locations-card--description {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    gap: var(--spacing-1);
    justify-content: space-between;
}

.locations-card--description>h2 {
    font-size: 35px;
    color: black;
}

.locations-card--description>h3 {
    font-size: var(--font-h3);
    color: red;
}

.locations-card--description>p {
    font-size: 18px;
    color: white;
}