.sectionCompare {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #97ce4c;
}

.card-comparison {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    max-width: 450px;
    background-color: #e4a788;
}

.card-comparison-visual {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-comparison-img {
    max-width: 200px;
}

.card-comparison-name {
    text-align: center;
    font-size: 35px;
    color: #f0e14a;
}

.card-comparison-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-comparison-character-description {
    text-align: center;
    color: white;
}

.card-comparison-label {
    font-size: 17px;
    color: rgb(78, 75, 75);
}

.card-comparison-p {
    font-size: 20px;
    font-weight: 500;
}