* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

path {
    width: 50px;
    height: 50px;
}

.form-control {
    height: 50px;
    border-radius: 30px;
    border: none;
}

.separador {
    height: 30px;
    background-color: #97ce4c;
}

.characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 800px));
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.grid-item {
    background-color: #44281d;
    max-width: 800px;
    border-radius: 12px;
}

.tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
}

.tarjeta img {
    width: 400px;
    height: 300px;
    border-top-left-radius: 12px;
}

.btnCompare {
    background-color: aqua;
    color: black;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    width: 400px;
    height: 40px;
    border: none;
    border-bottom-left-radius: 12px;
    cursor: pointer;
}

.btnCompare:hover {
    background-color: #e4a788;
}

.description {
    color: white;
    margin-left: 10px;
}

.description .name {
    text-align: center;
    color: #97ce4c;
    font-size: 28px;
    padding: 10px 0;
}

@media only screen and (max-width: 800px) {
    .grid-item {
        margin: auto;
        max-width: 400px;
        height: auto;
    }
    .tarjeta {
        max-width: 100%;
    }
    .grid-item img {
        min-width: 200px;
        border-top-right-radius: 12px;
    }
    .container-btnCompare {
        max-width: 400px;
    }
    .btnCompare {
        max-width: 100%;
        border-bottom-right-radius: 12px;
    }
}

@media only screen and (max-width: 410px) {
    .grid-item {
        margin: auto;
        max-width: 90%;
        height: auto;
    }
    .tarjeta {
        max-width: 100%;
    }
    .grid-item img {
        min-width: 200px;
        border-top-right-radius: 12px;
    }
    .btnCompare {
        max-width: 100%;
        border-bottom-right-radius: 12px;
    }
}