.episodes-container {
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.episode-card {
    display: flex;
    flex-direction: column;
    font-family: 'fantasy';
    text-align: center;
    color: white;
    width: 300px;
    height: 400px;
    margin: 0;
    background-size: cover;
    border-radius: 6px;
    border: black solid 5px;
    background-image: url(../../../multimedia/episodes-background.png);
    /* opacity: 0.5; */
}

.episode-card_cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nombreEpisodio {
    font-size: 30px;
}

.numeroEpisodio {
    font-size: 25px;
}

.episode-card-date {
    font-size: 20px;
}

.episode-card_boton {
    background-color: black;
    font-size: 30px;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-end-end-radius: 4px;
    height: 40px;
    color: #39ff14;
}